Source: git-touch
Section: devel
Priority: optional
Maintainer: Ethan D. Twardy <ethan.twardy@gmail.com>
Build-Depends: debhelper-compat (= 13), meson
Standards-Version: 4.5.1
Homepage: https://github.com/AmateurECE/git-touch
Rules-Requires-Root: no

Package: git-touch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Create and track changes to files using git with a single command
 This command performs the equivalent of: touch <file> && git add <file>
