Source: volumetric
Section: admin
Priority: optional
Maintainer: Ethan D. Twardy <ethan.twardy@gmail.com>
Build-Depends: debhelper-compat (= 13), libssl-dev, libglib2.0-dev, libserdec-dev, libarchive-dev, libcurl4-openssl-dev, libjson-c-dev
Standards-Version: 4.5.1
Homepage: https://github.com/AmateurECE/Volumetric
Vcs-Git: https://github.com/AmateurECE/Volumetric.git
Rules-Requires-Root: no

Package: libvolumetric0-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libvolumetric0 (= ${binary:Version}), ${misc:Depends}
Description: Version control for Docker volumes--runtime library debug
 Volumetric is a program I wrote to implement some kind of version control for
 Docker volumes.

Package: libvolumetric0
Section: libs
Architecture: any
Multi-Arch: same
Depends: libglib2.0-0, libserdec0, libarchive13, libssl1.1, libcurl4, libjson-c5, ${shlibs:Depends}, ${misc:Depends}
Description: Version control for Docker volumes--runtime library
 Volumetric is a program I wrote to implement some kind of version control for
 Docker volumes.

Package: volumetric
Architecture: any
Depends: libvolumetric0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Version control for Docker volumes
 Volumetric is a program I wrote to implement some kind of version control for
 Docker volumes.
