Source: libgobiserde
Priority: optional
Maintainer: Ethan D. Twardy <ethan.twardy@gmail.com>
Build-Depends: debhelper-compat (= 13), libyaml-dev, meson
Standards-Version: 4.5.1
Section: libs
Homepage: https://github.com/AmateurECE/libgobiserde
Vcs-Git: https://github.com/AmateurECE/libgobiserde.git
Rules-Requires-Root: no

Package: libgobiserde-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgobiserde0 (= ${binary:Version}), ${misc:Depends}
Description: libgobiserde, development files
 Development files for libgobiserde. See package libgobiserde0.

Package: libgobiserde0
Architecture: any
Multi-Arch: same
Depends: libyaml-0-2, ${shlibs:Depends}, ${misc:Depends}
Description: Object serialization library for C
 libgobiserde is a collection of object codecs for serializing and
 deserializing objects in C, for a number of formats (currently, only YAML is
 supported).
